@page "/RememberYourPrivateKey/{PrivateKey?}"
@using System.Web
@using System.Text

<MudCard >
    <MudCardContent Class="d-flex flex-column align-items-center">
        <h3>Запомните ваш секретный ключ!</h3>
        <h4>Вы больше его не увидите</h4>
        <MudTextField FullWidth="true" Class="mt-5" Variant="Variant.Outlined" ReadOnly="true" Value="@Uri.UnescapeDataString(PrivateKey ?? string.Empty)"/>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Outlined" Href="/">Продолжить...</MudButton>
    </MudCardActions>
</MudCard>
    
    



@code {

    [Parameter] public string? PrivateKey { get; set; }

}